@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
.App {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.App .tbtn {
  display: inline-block;
  font-size: 1rem;
  color: white;
  background-color: #006eff;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  margin-top: 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #006eff;
  margin-top: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.App .tbtn:hover {
  background-color: #0000d1;
}

.App td {
  font-size: 1rem !important;
}

.App .nil3 {
  font-size: 0.8rem !important;
}

.App .mainBox {
  width: 100%;
  height: 100%;
  background-image: url("../img/1900901.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .mainBox .signIn {
  text-align: center;
  width: 20rem;
  min-height: 25rem;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
}

.App .mainBox .signIn i {
  display: block;
  font-size: 5rem;
  color: #006eff;
  margin: 2rem 5rem;
}

.App .mainBox .signIn input {
  display: block;
  width: 95%;
  height: 2rem;
  margin-bottom: 1rem;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  border: 2px solid gray;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 0.5rem;
}

.App .mainBox .signIn #logInBTN {
  display: inline-block;
  font-size: 1rem;
  color: white;
  background-color: #006eff;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  margin-top: 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #006eff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 1rem;
}

.App .mainBox .signIn #logInBTN:hover {
  background-color: #0000d1;
}

.App .mainBox .signIn #SignUPBTN {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  font-size: 1rem;
  color: white;
  background-color: #006eff;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  margin-top: 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #006eff;
}

.App .mainBox .signIn #SignUPBTN:hover {
  background-color: #0000d1;
}

.App .inputBG {
  width: 100%;
  height: 100%;
  background-image: url(../img/dark-blue-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.App .inputBG .Black {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.589);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .inputBG .Black .popup {
  width: 25rem;
  height: 15rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
}

.App .inputBG .Black .popup i {
  font-size: 2.5rem;
  color: green;
}

.App .inputBG .Black .popup .pophed {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem !important;
  margin: 1rem 1rem !important;
}

.App .inputBG .Black .popup button {
  display: inline-block;
  font-size: 1rem;
  color: white;
  background-color: #006eff;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  margin-top: 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #006eff;
  margin-top: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.App .inputBG .Black .popup button:hover {
  background-color: #0000d1;
}

.App .inputBG .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 4.5rem;
}

.App .inputBG .container .navbar {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.App .inputBG .container .navbar i {
  color: white;
  font-size: 2rem;
}

.App .inputBG .container .navbar .nav-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.App .inputBG .container .navbar .nav-con .SeBar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20rem;
  height: 2rem;
  border: 2px solid white;
  background-color: transparent;
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px 0 5px;
  border-radius: 30px;
}

.App .inputBG .container .navbar .nav-con .SeBar i {
  color: white;
  font-size: 1rem;
}

.App .inputBG .container .navbar .nav-con .SeBar input {
  height: 100%;
  display: block;
  border: none;
  outline: none;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  padding-left: 1rem;
}

.App .inputBG .container .navbar .nav-con .homeBtn {
  display: inline-block;
  margin-right: 1rem;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  border-bottom: 1px solid;
  border-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.App .inputBG .container .navbar .nav-con .homeBtn:hover {
  color: #cccccc;
  border-color: #cccccc;
}

.App .inputBG .showCase {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.App .inputBG .showCase .title {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .inputBG .showCase .title .nil {
  text-align: center;
  font-weight: 400 !important;
  color: white;
  font-size: 2rem !important;
  text-transform: capitalize;
}

.App .inputBG .showCase .title .imgFile {
  top: -20;
  width: 10rem;
  height: 10rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-animation: imgani 10s infinite linear;
          animation: imgani 10s infinite linear;
}

.App .inputBG .showCase .title .imgFile img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@-webkit-keyframes imgani {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes imgani {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.App .inputBG .showCase .formWindow {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40%;
  height: 100%;
  padding: 2rem;
}

.App .inputBG .showCase .formWindow .nil2 {
  font-weight: 400;
  text-transform: uppercase;
  color: white !important;
  font-size: 1.2rem !important;
  margin-bottom: 1rem !important;
}

.App .inputBG .showCase .formWindow form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.App .inputBG .showCase .formWindow form input {
  display: block;
  width: 80%;
  height: 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 1rem;
  border: 2px solid #b8b8b8;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 0.5rem;
  background-color: transparent;
  color: white;
}

.App .inputBG .showCase .formWindow form textarea {
  display: block;
  width: 80%;
  height: 40%;
  outline: none;
  border: none;
  font-size: 1rem;
  border: 2px solid #b8b8b8;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  background-color: transparent;
}

.App .inputBG .showCase .formWindow form #dataSub {
  display: inline-block;
  font-size: 1rem;
  color: white;
  background-color: #006eff;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  margin-top: 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #006eff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-color: white;
  background-color: transparent;
}

.App .inputBG .showCase .formWindow form #dataSub:hover {
  background-color: #0000d1;
}

.App .Black .fillpop {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  width: 20rem;
  min-height: 25rem;
  height: auto;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
}

.App .Black .fillpop .fillwindow {
  width: 100%;
  height: 100%;
  text-align: center;
}

.App .Black .fillpop .fillwindow input {
  display: block;
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  outline: none;
  border: 2px solid gray;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.App .Black .fillpop .fillwindow textarea {
  display: block;
  width: 100%;
  height: 10rem;
  margin-top: 1rem;
  outline: none;
  border: 2px solid gray;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.App .Black .fillpop .fillwindow button {
  display: inline-block;
  font-size: 1rem;
  color: white;
  background-color: #006eff;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  margin-top: 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #006eff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.App .Black .fillpop .fillwindow button:hover {
  background-color: #0000d1;
}
/*# sourceMappingURL=file.css.map */